<% provide(:title,"Home")%>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
	<style type="text/css" media="screen">
		.footer{
			position: absolute; bottom: 10px;
			font-size: 20px;
		}
		.subfooter{
			float:left;
			margin-right: 150px;
		}
	</style>
</head>
<body>
	<div class="jumbotron">
  		<h1>Welcome to the Sample App</h1>
  		<p>This is the home page for the Ruby on Rails Tutorial sample application</p>
  		<p><a class="btn btn-primary btn-lg" href="#" role="button">Sign up now <%= image_tag("logo.png",size: "32x32") %></a></p>
	</div>

	<footer>
		<div class="footer">
			<a><div class="subfooter">Ruby on Rails Tutorial</div></a>
			<a><div class="subfooter">About</div></a>
			<a><div class="subfooter">Contact</div></a>
			<a><div class="subfooter">News</div></a>
		</div>	
	</footer>
</body>