<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>List your micropost</strong>
  <ul>
    <!-- SELECT * FROM Micropost WHERE user_id = user.name ; return array -->
  	<% Micropost.where(["user_id = ?", @user.name]).each do |item| %>
  	<li><%= item.content %></li>
  	<%end%>
  </ul>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
